body {
	background-color: rgb(4, 58, 105);
}

#navbar-shadow {
	-webkit-box-shadow: 0px 2px 2px rgb(174, 202, 238);
	-moz-box-shadow:    0px 2px 2px rgb(174, 202, 238);
	box-shadow:         0px 2px 2px rgb(174, 202, 238);
	z-index:999;
}

.logo {
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 27pt !important;
}

.logo:hover {
	font-family: 'Anton', sans-serif;
    color: blue;
    font-size: 27pt !important;
}

.navItem {
	color: black;
}

.navItem:hover {
	color: white;
}

.imageSize {
	width: 200px;
	height: 200px;
	border-radius: 4px;
	border: 1px solid red;
}

.divider {
	border-bottom: 1pt solid gray;
}